$text-color: #221923;
$background-color: #F6F5E9;
$accent-color: #CC3F3F;
$supporting-color: #9A9BAC;

body {
  color: $text-color;
  background-color: $background-color;
  font-family: 'Maven Pro', sans-serif;
  hyphens: auto;
}

a {
  color: $accent-color;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    border-bottom: 2px solid;
  }
}

h1 {
  font-size: 2.2em;
  line-height: 1.3em;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
  color: $supporting-color;
}

h3 {
  font-size: 1.3em;
  font-weight: 900;
}

p {
  font-size: 1.1em;
  font-weight: 400;
}

.elevator-button {
  color: $accent-color;
  font-size: 1.5em;
}

footer p {
  font-size: 0.9em;
  font-weight: 400;
}