$gutter: 1rem;

section {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    &.table {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;
      overflow-x: scroll;
      margin: 0 (-$gutter/2);

      li {
        padding: 0 $gutter/2;
        min-width: 15rem;
        box-sizing: border-box;
        flex: 1;
      }
    }
  }
}