$gutter: 1rem;
$colsize: 30rem;

section {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    &.table {
      display: flex;
      flex-wrap: wrap;
      margin: 0 (-$gutter/2);

      li {
        padding: 0 $gutter/2;
        min-width: $colsize;
        box-sizing: border-box;
        flex: 1;
      }
    }
  }
}

@media (max-width: $colsize) {
  section ul.table {
    flex-direction: column;
  }
}