$gutter: 1rem;
$colsize: 15rem;

ul.table {
  padding: 0;
  margin: 0 (-$gutter/2);
  display: flex;
  flex-wrap: wrap;

  li {
    padding: 0 $gutter/2;
    min-width: $colsize;
    box-sizing: border-box;
    flex: 1 0 50%;
  }
}