#splash { width: 100%; }
#splash object { width: 100%; }

#intro { width: 100%; }

#side { float: left; width: 400px; height: 100%; padding-bottom: 30px; text-align: center; }

#main { width: 100%; padding-top: 20px; text-align: left; }
#main p  { font-size: 25px; line-height: 35px; padding: 10px 40px; }
#main p .bigtext { font-size: 60px; font-weight: bold; }

/* TRANSITIONS */
#side, #side img, #main
{
	-webkit-transition: 200ms;
   	   -moz-transition: 200ms;
   	     -o-transition: 200ms;
   	        transition: 200ms;
}

/* For smaller screens, shrink my picture and make text smaller. */
@media (min-width: 601px) and (max-width: 1024px)
{
	#side { width: 300px; }
	#side img { width: 250px; }
	#main { padding: 15px; text-align: justify; }
	#main p { font-size: 18px; }
	#main p .bigtext { font-size: 30px; }
}

/* For even smaller screens, side and main are in a single column. */
@media all and (max-width: 600px)
{
	#side { width: 100%; margin: 0 auto; }
	#side img { width: 70%; min-width: 280px; }
	#main { padding: 15px; text-align: justify; }
	#main p { font-size: 18px; }
	#main p .bigtext { font-size: 30px; }
}