* { margin: 0; padding: 0; }
html,body { width: 100%; min-width: 400px; height: 100%; }
body { background: #A9D3FF; }

header { width: 100%; height: 80px; background: /*#1397b7*/ /*#3c5774*/ rgba(60,87,116,0.9); position: fixed; }
header nav { width: 400px; height: 100%; margin: 0 auto; text-align: center; }
header nav a { display: block; float: left; width: 100px; height: 80px; }
header nav a:hover { background: rgba(0,0,0,0.5); }
header nav a img { height: 64px; margin-top: 8px; }

#content
{
	width: 100%; min-height: 100%; margin: 0 auto -100px auto; padding-top: 80px;
	font-family: Georgia, serif; color: #6E6E6E;
}

#content a { color: inherit; }
#content a:hover { color: #939393; }
#content:after { content: ""; display: block; }

footer { width: 100%; height: 100px; background: #C8AF8C; border-top: 8px solid #76B8DE; }
footer nav { width: 70%; margin: 0 auto; max-width: 1000px; }
footer nav a { display: block; width: 33%; float: left; text-align: center; font-family: 'Diavlo Black', "Trebuchet MS", Helvetica, sans-serif; font-size: 25px; line-height: 92px; font-weight: bold; text-decoration: none; color: #5F5F5F; }
footer nav a:hover { color: #777; }
footer, #content:after { height: 100px; }