#content h1 { font-size: 50px; padding: 20px; text-align: center; }
#content h3 { font-size: 25px; padding: 20px 0; text-align: left; }

#content ul li h3 a { text-decoration: none; color: #6E6E6E; }
#content ul li a:hover { color: #999; }
#content ul li a { color: #6E6E6E; }
#content ul li { list-style: none; padding: 30px; padding-top: 0; }
#content ul li > p { font-size: 20px; padding-right: 650px; padding-bottom: 20px; }
/*
#content ul li .preview { float: right; border: 5px solid #6E6E6E; }
#content ul li .preview a.screen { background-color: rgba(0,0,0,0.8); }
#content ul li .preview a.screen p { display: table-cell; text-align: center; vertical-align: middle; }
#content ul li .preview img { }
*/

.preview { position: relative; border: 5px solid black; display: block; float: right; }
.preview img { margin-bottom: -4px; }
.screen { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: black; opacity: 0.4;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
.preview:hover { border-color: #6E6E6E; }
.preview:hover .screen { opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}