#content h1 { font-size: 50px; padding: 20px; text-align: center; }
#content h3 { font-size: 25px; padding: 20px 0; text-align: left; }

#content ul li h3 a { text-decoration: none; color: #6E6E6E; }
#content ul li a:hover { color: #999; }
#content ul li a { color: #6E6E6E; }
#content ul li { list-style: none; padding: 30px; padding-top: 0; }
#content ul li > p { font-size: 20px; padding-right: 650px; padding-bottom: 20px; }

.preview { position: relative; border: 5px solid black; display: block; float: right; }
.preview img { margin-bottom: -4px; }
.screen { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: black; opacity: 0.4;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
.screen p
{ position: absolute; top: 50%; left: 50%; line-height: 70px; margin-top: -35px; width: 200px; margin-left: -100px; text-align: center;
  font-size: 50px; font-family: Arial, Helvetica, sans-serif; }
.preview:hover { border-color: #6E6E6E; }
.preview:hover .screen { opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

@media all and (max-width: 1000px)
{
	#content h3 { text-align: center; }
	.preview { float: none; width: 610px; margin-bottom: 20px; margin: 0 auto; }
	.preview img { width: 600px; }
	#content ul li > p { padding: 10px 20px; width: 100%; }
}